//Colors
$white: #FFFFFF;
$black: #181818;
$grey-lighter: #F9F9F9;
$grey-light: #CED1D2;
$grey: #999999;
$grey-dark: #666666;
$grey-darker: #333333;
$red: #E95841;
$yellow: #F5A623;
$green: #A6C38C;

$restaurant: #E95841;
$events: #4E92DF;
$movies: #DD7334;
$tourism: #78A352;
$bar-disco: #944BA3;

//Fonts
$primary-font: 'Lato', sans-serif;
$title-font: 'Open Sans', sans-serif;

//Beziers
$bezier-1: cubic-bezier(0.64, 0.57, 0.67, 1.53);

$page-max-width: 1200px;
